.Logo {
    padding-top: 3%;
    height: auto;
    width: 45%;
    pointer-events: none;
}
.home{
    height: 100%;
}

.btn {
    width: auto;
}

.Annoucement{
    text-align: left;
    background-color: #e3fdfd;
    margin : 0 10px 5px 10px;
    padding: 5px 5px;
}
