.Logo {
    height: 45%;
    width: 45%;
    pointer-events: none;
}



.btn {
    width: 40%;
}

.Annoucement{
    text-align: left;
    background-color: #e3fdfd;
    margin : 0 10px 5px 10px;
    padding: 5px 5px;
}
