.Logo {
    padding-top: 3%;
    height: auto;
    width: 40%;
    pointer-events: none;
}
.home{
    height: 100%;
}
.btn {
    width: auto;
}

#icon {
    display: inline-block;
    padding: 5px 5px 0 0;
    font-size: 90%;
}

.Icons {
    overflow: hidden;
}