
.PersonalInfo {
    text-align: left;
    margin-left: 4%;
    padding-left: 5%;
    padding-right: 10px;
    padding-top: 20px;
    margin-right: 4%;
    background-color: #e3fdfd;
}

.Question {
    text-align: left;
    margin-left: 4%;
    padding-left: 5%;
    padding-right: 10px;
    padding-top: 20px;
    margin-right: 4%;
    margin-top: 3%;
    background-color: #d2f5e3;
}

.Talking {
    text-align: left;
    margin-left: 4%;
    padding-left: 5%;
    padding-right: 10px;
    padding-top: 20px;
    margin-right: 4%;
    margin-top: 3%;
    background-color: #ffe0d8;
}

#formGroup {
    width: 70%;
}

.Header{
    /* position: relative;
    right: 5%; */
    text-align: left;
}

.Overall{
    
    padding-top: 3%;
}